logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

.bsp/

*.iml

null

# Ignore the deployment file due to possibly sensitive content.
deployment.env
/.bsp/sbt.json

# Frontend

/frontend/elm-stuff
/frontend/node_modules
/frontend/build/static/js
/frontend/build/